.meal{
    background-color:#DDDDDD;
}

.bHead{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.aHead{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.fa-calendar-alt{
    font-size:24px;
}

.mealContent{
    background-color:#EEEEEE;
}

input[type=number]::-webkit-inner-spin-button{
    opacity: 1;
}

.welcome-bg{
    background-image: url("/static/linedpaper.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position:fixed;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    z-index: -1;
    background-position: 0px 0px;
}

.welcome{
    font-family: 'Permanent Marker';
}

.heading{
    font-size:7vh;
}

.subheading{
    font-size:6vh;
}

.table-cont{
    overflow: auto;
}

table{
    width:100%
}

.loginError{
    color:red;
}

.aContent{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
